@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

header ul {
    list-style: none;
    display: flex;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: #1b1b1b;
    font-size: 14px;
}

header li {
    margin: 0 20px;
}

header a:hover {
    color: #8d8d8d;
}

body {
    background-color: aquamarine;
}

.container{
    max-width: 1400px;
    margin: 200px 80px;
    text-align: center;

}


.headline {
    font-size: 40px;
    letter-spacing: -5px;
    line-height: 1;
    padding-bottom: 30px;
}

.button1{
    padding: 10px 25px;
    background-color: #1b1b1b;
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
    border-radius:100px;
}

.button2{
    padding: 10px 30px;
    background-color: transparent;
    text-decoration: none;
    color: #000000;
    margin-right: 10px;
    border: solid 1px #3a3a3a;
    border-radius:100px;
}

.button1:hover{
    background-color: #3a3a3a;
}